<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855359653775-et89qbo66k7hguhkqnl0efhpih1l6jtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855359653775-et89qbo66k7hguhkqnl0efhpih1l6jtm</string>
	<key>API_KEY</key>
	<string>AIzaSyCK3T3gi6gpK0ET69Bmsvp9BaqRkE44FA8</string>
	<key>GCM_SENDER_ID</key>
	<string>855359653775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterwings.localNotificationFlutterTemplate</string>
	<key>PROJECT_ID</key>
	<string>local-notification-app</string>
	<key>STORAGE_BUCKET</key>
	<string>local-notification-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855359653775:ios:cb91cf961ed2a97d7bedfa</string>
</dict>
</plist>